// url
$url-bg-btn: '/common/images/sp_main_search.png';
$url-bg-weather: "/common/images/sp_weather_animation.png";
$url-bg-ico: "/common/images/sp_search.png";

.weather-box {
  .weather-inner {
    position: relative;

    .bg-img {
      float: left;
      margin-right: 10px;
      width: 50px;
      height: 40px;
      background: url($url-bg-weather) no-repeat;
      background-size: 425px auto;
      background-position: -133px -134px;
    }

    .info {
      float: left;

      .info-title {
        font-size: 18px;
        font-weight: bold;

        .temperature {
          margin-right: 3px;
          font-size: 20px;
        }
      }

      .info-sub {
        margin-top: 5px;
        font-size: 13px;

        .state {
          margin-left: 3px;
          color: #00d01d;

          &.good {
            color: #00a8ff;
          }
        }
      }
    }

    .my-location {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      border: none;
      padding-right: 25px;
      background: none;
      font-size: 15px;
      color: #767678;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        background: url($url-bg-ico) no-repeat;
        background-size: 400px auto;
        background-position: -380px -206px;
      }
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .weather-guide {
    margin-top: 20px;
    text-align: center;
    line-height: 1.4;
    font-size: 15px;
    color: #767678;
  }
}
