// url
$url-bg-btn: '/common/images/sp_main_search.png';
$url-bg-weather: "/common/images/sp_weather_animation.png";
$url-bg-ico: "/common/images/sp_search.png";

.main {
  padding: 0 30px 50px;
  min-width: 320px;
}

.search-wrap {
  margin-top: 75px;
  .search-box {
    margin: 0 auto;
    border-radius: 26px;
    padding: 1px;
    max-width: 500px;
    min-width: 300px;
    height: 50px;
    background: linear-gradient(105deg, #03cf5d, #03c75a 100%);
    box-shadow: 0 5px 10px 0 rgba(117, 145, 181, 0.12);

    .search-inner {
      position: relative;
      border-radius: 25px;
      box-sizing: border-box;
      padding: 0 60px;
      width: 100%;
      height: 50px;
      background: #fff;

      .search-logo {
        position: absolute;
        top: 5px;
        left: 15px;

        & > a {
          display: block;
          width: 40px;
          height: 40px;
          background-color: #03c75a;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            background: url($url-bg-btn) no-repeat;
            background-size: 323px auto;
            background-position: 0 -194px;
          }
        }
      }

      .search-input {
        border: none;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        outline: none;
        font-size: 18px;

        &::placeholder {
          color: #ccc;
        }
      }

      .search-voice-btn {
        position: absolute;
        top: 8px;
        right: 15px;
        border: none;
        width: 34px;
        height: 34px;
        background-color: #03c75a;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 34px;
          height: 34px;
          background: url($url-bg-btn) no-repeat;
          background-size: 323px auto;
          background-position: -174px -194px;
        }
      }
    }
  }
}

.grid-wrap {
  margin: 20px auto 0;
  max-width: 1000px;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  .grid-vertical {
    float: left;
    width: 49%;

    &:nth-child(2n) {
      margin-left: 2%;
    }

    .grid-box {
      margin-top: 20px;
      border-radius: 10px;
      padding: 20px;
      background: #fff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06);

      &:first-child {
        margin-top: 0;
      }

      .title-wrap {
        position: relative;
        margin-bottom: 15px;

        h3.title {
          .title-sub {
            display: block;
            font-size: 20px;
            font-weight: bold;

            &.short-form {
              display: inline-block;
              vertical-align: middle;
              margin-top: 8px;
              color: #4284f7;
            }
          }

          .title-sub-img {
            display: inline-block;
            background: url($url-bg-ico) no-repeat;
            background-size: 400px auto;

            &.shopping01 {
              width: 40px;
              height: 25px;
              background-position: -342px -290px;
            }

            &.shopping02 {
              width: 40px;
              height: 25px;
              background-position: -258px -220px;
            }

            &.now {
              width: 52px;
              height: 25px;
              background-position: -72px -292px;
            }

            &.short-form {
              display: inline-block;
              vertical-align: middle;
              margin-top: 5px;
              width: 28px;
              height: 25px;
              background-position: -142px -347px;
            }
          }
        }

        .link {
          position: absolute;
          top: 4px;
          right: 0;
          padding-left: 20px;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            background: url($url-bg-ico) no-repeat;
            background-size: 400px auto;
            background-position: -383px -186px;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .main {
    padding: 0 0 50px;
  }

  .grid-wrap {
    .grid-vertical {
      width: 100%;
      &:nth-child(2n) {
        margin-left: 0;
      }
      .grid-box {
        border-radius: 0;
        &:first-child {
          margin-top: 20px;
        }
      }
    }
  }
}
